[submodule "Source/External/GLFW"]
	path = Source/External/GLFW
	url = https://github.com/Nephatrine/glfw.git
[submodule "Source/External/Epoxy"]
	path = Source/External/Epoxy
	url = https://github.com/Nephatrine/libepoxy.git
