#include "JMA-Version.h"

GLFW_ICON ICON "JMA-Client.ico"

1 VERSIONINFO
FILEVERSION JMA_VERSION_MAJOR,JMA_VERSION_MINOR,JMA_VERSION_PATCH,JMA_VERSION_EXTRA
PRODUCTVERSION JMA_VERSION_MAJOR,JMA_VERSION_MINOR,JMA_VERSION_PATCH,JMA_VERSION_EXTRA
FILEOS 0x4
FILETYPE 0x0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "Daniel Wolf <nephatrine@gmail.com>"
      VALUE "FileDescription", "JMA-Client"
      VALUE "FileVersion", JMA_VERSION_COMMA
      VALUE "InternalName", "JMA-Client"
      VALUE "LegalCopyright", "Copyright © 2015, Daniel Wolf <nephatrine@gmail.com>"
      VALUE "OriginalFilename", "JMA-Client.exe"
      VALUE "ProductName", "JMA"
      VALUE "ProductVersion", JMA_VERSION_COMMA
    END
  END 
  
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04B0
  END
END
